$prim-color: #5C1214;
$sec-color: #131313;
$ter-color: #DEDEDE;
$quart-color: #101010;
$font-col1: #ffffff;
$font-col2: #DCDCDC;
$font-col3: #EEEEEE;
$font-col4: #000000;
$font-col5: #676767;
$font1: Roboto, Helvetica;
$test: green;

/* Laptop and PC*/

@media only screen and (min-width:480px) {


header {
	background-color: $prim-color;
	height: 100px;
	padding: 1em; 
	display: flex;
	justify-content: space-between;
	align-items: center;
}


body {
	background-color: white;
}

a {
	color: $font-col3; /* color of hyperlinks */	
	text-decoration: none; /* remove underlines*/
}

nav {
		background-color: $sec-color;
		font-family: Roboto, Helvetica;
		font-size: 1em;
		font-weight: bold;
		color: white;
		letter-spacing: 1px;
		height: 50px;
		margin-top: 0px;
		display: flex;
	  	align-items: left;
	  	justify-content: left;
	}

nav li, footer li {
	display: inline; /* show list next to eachother */
    list-style-type: none; /* no bulletpoints */
	padding: 0.5em; /* space between list elements */

}

ul { 
	padding-left: 0.6em; 
}

.date {
	color: $font-col4;
	text-align: right;

}

.titlenews {
	background-color: $ter-color;
	font-family: $font1;
	font-size: 1em;
	font-weight: bold;
	color: $font-col5;
	text-indent: 1em;
	letter-spacing: 1px;
	height: 50px;
	width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: left;
}

.container {
	display: flex;
	flex-wrap: wrap;
	border-style: solid;
	border-color: green;
}




.item1, .item2, .item3, .item4 {
	padding: 10px;
	box-sizing: border-box;
	background-color: grey;
	flex-basis: 50%;	
	border-style: solid;
	border-color: blue;
	flex: auto;
}

}
